
    <div class="section-top-border">
		<h3 class="mb-30 set-color-font">Add staff</h3>
		<div class="progress-table-wrap">
			<div class="progress-table padding-form-add">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="text" class="form-control" placeholder="NVxxx" id="inputAddress2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Shift</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Morning</option>
                            <option value="1">Afternoon</option>
                            <option value="2">Evening</option>                           
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Department</label>
                        <select class="form-select" aria-label="Default select example">

                            <option>1</option>
                            <option>3</option>
                                           
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>
                   <label for="basic-url" class="form-label">Your Product Image URL</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://github.com/fxbite/E-commerce/blob/main/src/public/img/{name image}.jpg/png?raw=true</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
			</div>
		</div>
	</div>		


