<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Our technology products</h2>
								<p class="text-white">It won’t be a bigger problem to find one device lover in your <br> neighbor. Since the introduction of E Commerce Shop.</p>
							</div>							
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">
			

			<!-- Start unique-feature Area -->
			<section class="unique-feature-area section-gap" id="unique">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Some Products that Made us Unique</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">

                        {{#each products}}
						<div class="col-lg-3 col-md-6">
							<div class="single-unique-product">
								<img class="img-fluid" src="img/u1.jpg" alt="">
								<div class="desc">
									<h4>
										Apple Watch White
									</h4>
									<h6>£399.00</h6>
									<a class="text-uppercase primary-btn" href="#">Pre Order</a>
								</div>
							</div>
						</div>
                        {{/each}}

					</div>
				</div>	
			</section>
			<!-- End unique-feature Area -->